on:
  push:
    branches:
      - master
  pull_request:
  
name: Lint TOML
  
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
  
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
  
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.8
  
      - name: Install Taplo
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: taplo-cli --locked
  
      - name: Lint
        run: |
          taplo check --default-schema-catalogs
          taplo fmt --check --diff
  